<!--
  Generated template for the PrefeiturasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>prefeituras</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="pagina">
  <button ion-button full (click)="downloadPdf()" color="secondary">Download PDF</button><br>
  
  <div id="graficoBlocoQ01" style="display: block;"	></div><br>
  <div id="graficoBlocoQ02" style="display: block;"	></div><br>
  <div id="graficoBlocoQ04" style="display: block;"	></div><br>
  <div id="graficoBlocoQ05" style="display: block;"	></div><br>
  <div id="graficoBlocoQ06" style="display: block;"	></div><br>
  <div id="graficoBlocoF" style="display: block;"	></div><br>
  <div id="graficoBlocoG" style="display: block;"	></div><br>
  <div id="graficoBlocoH" style="display: block;"	></div><br>
  <div id="graficoBlocoI" style="display: block;"	></div><br>
  <div id="graficoBlocoJ" style="display: block;"	></div><br>
  <div id="graficoBlocoK" style="display: block;"	></div><br>
  <div id="graficoBlocoL" style="display: block;"	></div><br>

</ion-content>
