@import 'https://code.highcharts.com/css/highcharts.css';

.highcharts-color-0 {
	fill: rgb(26, 218, 19);
}
// .highcharts-axis.highcharts-color-0 .highcharts-axis-line {
// 	stroke: greenyellow;
// }
// .highcharts-axis.highcharts-color-0 text {
// 	fill: greenyellow;
// }
.highcharts-color-1 {
	fill: rgb(31, 72, 255);
}
.highcharts-color-2 {
	fill: #f53d3d;
}
.highcharts-color-3 {
	fill: black;
}
page-prefeituras {

}
