page-home {
    .data-scroll {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .data-table {
        min-width: 800px;
    }

    .quebraPagina { page-break-after: always; }
    .quebraPagina:last-child { page-break-after: avoid; }

    @media print {
        md-content {
          overflow: visible;
        }
      }
}
