<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Relatório nível local</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="pagina">
  <button ion-button full (click)="downloadPdf()" color="secondary">Download PDF</button><br>
  <!-- <div class="titulo">Relatório nível local</div> -->
  
  <div class="quebraPagina" *ngFor="let row of csvData">
      
          A) SINTÉTICO
          <br>
          Nº de entrevistas solicitadas (OS): {{row[1]}} {{row[2]}}
          <br> 
          Nº de entrevistas realizadas:
          <br>
          Proporção da meta atendida (%):
          <br>
          Qual a data de realização de cada entrevista?          
          <br>
  </div>
  <!-- <img id='kiwi' src="https://s.cdpn.io/3/kiwi.svg"> -->

  <div id="graficoBlocoA" style="display: block;"	></div><br>
  <div id="graficoBlocoB" style="display: block;"	></div><br>
  <div id="graficoBlocoC" style="display: block;"	></div><br>
  <div id="graficoBlocoD" style="display: block;"	></div><br>
  <div id="graficoBlocoE" style="display: block;"	></div><br>
  <div id="graficoBlocoF" style="display: block;"	></div><br>
  <div id="graficoBlocoG" style="display: block;"	></div><br>
  <div id="graficoBlocoH" style="display: block;"	></div><br>

  <!-- <button ion-button full (click)="createPdf()">Create PDF</button> -->
    



  <!-- <ion-scroll scrollX="true" scrollY="true" class="data-scroll">
    <table border="1" class="data-table">
      <tr>
        <td *ngFor="let header of headerRow" text-center><b>{{ header }}</b></td>
      </tr>
      <tr *ngFor="let row of csvData; let i = index">
        <td *ngFor="let data of row; let j = index; trackBy: trackByFn">
          <ion-input type="text" [(ngModel)]="csvData[i][j]"></ion-input>
        </td>
      </tr>
    </table>
  </ion-scroll> -->
</ion-content>
