<!--
  Generated template for the AterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ater</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding id="pagina">
  <button ion-button full (click)="downloadPdf()" color="secondary">Download PDF</button><br>
  
  <div id="graficoBlocoA" style="display: block;"	></div><br>
  <div id="graficoBlocoB" style="display: block;"	></div><br>
  <div id="graficoBlocoC" style="display: block;"	></div><br>
  <div id="graficoBlocoD" style="display: block;"	></div><br>
  <div id="graficoBlocoE" style="display: block;"	></div><br>
  <div id="graficoBlocoF" style="display: block;"	></div><br>
  <div id="graficoBlocoG" style="display: block;"	></div><br>
  <div id="graficoBlocoH" style="display: block;"	></div><br>
  <div id="graficoBlocoI" style="display: block;"	></div><br>
  <div id="graficoBlocoJ" style="display: block;"	></div><br>
  <div id="graficoBlocoK" style="display: block;"	></div><br>
  <div id="graficoBlocoL" style="display: block;"	></div><br>

</ion-content>
